/* NOTE Navigation */
.menu-bar {
    padding: 10px 0;
    background-color: #26a9e0;

}

.menu {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.menu__item a {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.menu__item a:hover {
    text-decoration: none;
    color: #fff;
}
/* NOTE main */
.main__img {
    height: 390px;
}
